* {
    box-sizing: border-box
}

.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}

body {
    font-family: "Verdana", "Tahoma", sans-serif;
    font-size: 12px;
    line-height: 16px
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none
}

.container {
    display: flex;
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 10px
}

.page-header .container {
    min-height: 42px
}

.inner-heading {
    margin: 20px 0 4px;
    line-height: 32px
}

.header-link,
.header-logo {
    display: flex;
    margin-right: auto;
    align-items: center
}

.header-link,
.new-block h3 {
    font-size: 14px;
    line-height: 20px
}

.header-link::before {
    content: "";
    width: 10px;
    height: 18px;
    padding-right: 8px;
    display: inline-block;
    vertical-align: text-bottom
}

.theme-button {
    position: relative;
    margin: auto 0;
    padding: 7px 16px 7px 36px;
    font-size: 12px;
    border-radius: 2px;
    background-color: transparent
}

.theme-button::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 7px;
    left: 12px
}

.main-menu a:active,
.menu-close:active,
.menu-open:active,
.theme-button:active {
    opacity: .8
}

.menu {
    position: relative;
    margin-right: -10px;
    margin-left: 24px;
    width: 42px;
    height: 42px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center
}

.menu-close {
    background-image: url(img/menu-close.svg)
}

.main-menu {
    position: absolute;
    z-index: 1;
    padding: 0;
    top: 42px;
    right: 0
}

.menu-open + .main-menu {
    display: none
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0
}

.main-menu a {
    display: block;
    padding: 10px 56px 10px 20px
}

.index-main,
.inner-main {
    padding: 0;
    min-height: calc(100vh - 84px)
}

.index-main .container,
.inner-main .container {
    flex-direction: column
}

.news-view {
    display: flex;
    margin: 20px 0
}

.news-view button {
    position: relative;
    display: block;
    margin-right: 10px;
    padding: 7px 16px 7px 34px;
    border-radius: 16px;
    background-color: transparent
}

.row-view::before,
.tile-view::before {
    position: absolute;
    content: "";
    top: 9px;
    left: 16px;
    width: 12px;
    height: 10px
}

.tile-view::before {
    width: 10px
}

.news-list {
    margin-bottom: 20px
}

.news-list-heading {
    flex-basis: 100%
}

.new-block {
    display: flex;
    margin-bottom: 10px;
    padding: 12px 12px 16px
}

.new-block img {
    flex-shrink: 0;
    margin-right: 12px;
    width: 56px;
    height: 56px;
    object-fit: cover
}

.new-block h3 {
    margin: 0 0 4px
}

.new-block p {
    margin: 0 0 8px
}

.new-block time,
body {
    margin: 0
}

.list-tiles-view.news-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: -10px
}

.list-tiles-view .new-block {
    flex-basis: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 15px;
    flex-direction: column
}

.list-tiles-view .new-block img {
    position: relative;
    width: calc(100% + 24px);
    top: -12px;
    left: -12px;
    height: 146px;
    margin-right: 0
}

.list-tiles-view .new-block .new-block-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

.list-tiles-view .new-block time {
    margin-top: auto;
}

.cookies-agreement {
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 20px 20px
}

.cookies-agreement .button {
    margin-left: auto
}

.cookies-agreement-closed {
    display: none
}

.button {
    font-size: 12px;
    border: 0;
    padding: 7px 16px;
    border-radius: 2px
}

.button:active {
    opacity: .8
}

.page-footer {
    margin-top: auto;
    min-height: 42px
}

.footer-logo {
    margin-left: auto;
    display: block;
    padding: 6px 0 3px
}

.page-footer p {
    margin: auto 0
}

.subscription {
    display: flex;
    margin-bottom: 12px;
    padding: 20px 12px
}

.subscription-message {
    position: relative;
    margin-left: 24px;
    padding: 12px 32px 16px 40px;
    border-radius: 0 32px;
    font-size: 18px;
    line-height: 24px
}

.subscription-message::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    top: 0;
    left: -24px
}

.subscription-inner {
    position: relative;
    flex-grow: 1;
    margin-right: 10px
}

.subscription-label {
    position: absolute;
    top: -12px;
    font-size: 10px;
    line-height: 14px
}

.subscription-email {
    width: 100%;
    height: 30px;
    border: 0;
    background-color: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 30px
}

.subscription-email::placeholder {
    color: #aaa;
    font: inherit;
    font-size: 14px;
    font-style: italic
}

.subscription-button {
    flex-shrink: 0
}

.dark-theme .header-logo {
    filter: invert(1) hue-rotate(180deg) brightness(2)
}

/* custom style  */
.custom-linl-more {
    display: inline-block;
    border: 1px solid;
    padding: 5px 10px;
    max-width: max-content;
}

.dark-theme .custom-linl-more {
    border-color: #ffffff;
}

.light-theme .custom-linl-more {
    border-color: #000000;
}

.new-block time {
    margin: 10px 0;
}

/* отдельная страница со статьёй  */
.inner-news {
    padding: 0;
    min-height: calc(100vh - 84px);
}

.index-main .container,
.inner-main .container,
.inner-news .container {
    flex-direction: column;
}

.inner-news .inner-heading {
    margin-bottom: 20px;
    font-size: 24px;
}

.news-full {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.news-full img {
    margin-bottom: 4px;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.news-full .news-stats {
    display: flex;
    justify-content: space-between;
}

.heart .likes-number {
    margin-left: 24px;
    line-height: 14px;
}

.news-full .heart {
    padding: 12px 10px;
    min-width: 40px;
    min-height: 34px;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 12px;
    cursor: pointer;
}

.page .heart:focus,
.page .heart:hover {
    opacity: 1;
}

.news-full time {
    margin: 14px 12px 8px 0;
}

.news-full p {
    margin: 0 12px 16px 12px;
    font-size: 14px;
    line-height: 24px;
}

/* блок комментариев  */
.comment-feed h2 {
    margin-top: 0;
    margin-bottom: 12px;
}

.comment-list {
    margin: 0 0 12px 0;
    padding: 0;
    list-style: none;
    counter-reset: comments;
}

.comment-list li {
    margin-bottom: 6px;
    padding: 10px 12px;
    min-height: 36px;
    font-size: 14px;
    line-height: 24px;
}

.comment-list .user-comment {
    position: relative;
    display: flex;
}

.comment-list .user-comment::before {
    counter-increment: comments;
    content: "#" counter(comments);
    padding-right: 12px;
    margin-right: 12px;
    border-right: 1px solid;
    font-weight: bold;
}

.comment-list .user-comment::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    bottom: 0;
    left: -8px;
    border: 4px solid;
    border-left-color: transparent;
    border-top-color: transparent;
}

.comment-form {
    display: flex;
    margin-bottom: 30px;
    padding: 20px 12px;
}

.comment-inner {
    position: relative;
    flex-grow: 1;
    margin-right: 10px;
}

.comment-label {
    position: absolute;
    top: -16px;
    left: -9px;
    padding: 4px 8px;
    font-size: 10px;
    line-height: 14px;
}

.comment-field {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    border: none;
    background-color: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
}

.comment-feed__button {
    font-size: 12px;
    border: 0;
    padding: 7px 16px;
    border-radius: 2px;
    cursor: pointer;
}

/*подсказки */
.tooltip-button {
    cursor: pointer;
    position: relative;
    padding: 1px 8px;
    border: none;
    color: inherit;
    font: inherit;
}

.tooltip-button::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 4px solid;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.tooltip {
    z-index: 2;
    display: none;
    flex-direction: row-reverse;
    position: fixed;
    max-width: 256px;
    right: 0;
    top: 160px;
    border-radius: 8px 0 0 8px;
}

.opened {
    display: flex;
    animation: tooltip-opener 150ms;
}

.tooltip-text {
    display: flex;
    align-items: center;
    padding: 10px;
}

.close-button {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 0;
    padding: 0;
    border-radius: 8px 0 0 8px;
}

.close-button span {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(
            -90deg);
}

/*новая форма для коментариев */
.comment-form--mod {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding: 20px 12px;
}

.comment-form--mod .comment-inner {
    position: relative;
    width: 100%;
}

.comment-area {
    height: unset;
    resize: none;
    margin-bottom: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    line-height: 24px;
}

.text-counter {
    display: inline-block;
    vertical-align: baseline;
    padding: 7px 0;
    margin-right: auto;
}

/*Валидация коментария*/
.comment-form.warning .comment-label {
    color: #f05b29;
}
.comment-form.warning .comment-area {
    color: #f05b29;
    border-color: #f05b29;
}

.comment-form.warning .char-counter {
    color: #f05b29;
    font-weight: bold;
}

.submit-button:disabled {
    opacity: 0.25;
}

.news-tag {
    padding: 4px 8px;
    margin: 0 auto 0 0;
    border-radius: 12px;
}

.subscription-link {
    position: relative;
    padding: 8px 2px 6px 26px;
    margin: auto 4%;
}

.subscription-link::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 12px;
    top: 9px;
    left: 2px;
}

/*Кнопка наверх*/
.up-button {
    position: fixed;
    z-index: 1;
    padding: 0;
    bottom: 75px;
    right: 20px;
    width: 64px;
    height: 64px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border: 5px solid;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.shown {
    display: inline-block;
}

/*Список категорий фильтра*/
.filter {
    display: flex;
    padding: 7px 22px 7px 12px;
    box-sizing: border-box;
    margin: 0 0 0 auto;
    font-size: inherit;
    border: none;
    border-radius: 2px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 8px top 50%;
    background-size: 8px auto;
}

/*фильтрация анонсов*/
.hidden {
    display: none;
}

/*опрос посетителя*/
/* Опрос */

.poll {
    position: relative;
    margin-left: 24px;
    margin-top: 20px;
    padding: 12px 32px 32px;
    border-radius: 0 32px;
    font-size: 18px;
    line-height: 24px;
}

.poll::before {
    position: absolute;
    content: "";
    width: 48px;
    height: 48px;
    top: 0;
    left: -24px;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.submit-button {
    padding: 7px 16px;
    width: 165px;
    height: 30px;
    border-radius: 2px;
}

.submit-button:disabled {
    opacity: 0.25;
}

.error {
    display: none;
    margin-left: -32px;
    margin-right: -32px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #F05B29;
    font-size: 12px;
}

.error::before {
    content: "";
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.poll-option {
    margin-bottom: 16px;
}


.review + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-bottom: -2px;
    margin-right: 10px;
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

.review:focus + label {
    outline: 5px solid #4d90fe;
}

.shown {
    display: flex;
}

/* Стилизация лонгрида */
.controls {
    padding: 16px 0 6px;
    overflow-x: hidden;
}

.controls label {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 14px;
}

.color-filters {
    display: flex;
    margin-right: -20px;
}

.color-filters label {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-right: 20px;
}

.color-filters .filter {
    margin-top: 4px;
}

.controls .filter {
    margin-left: 0;
}

.longread {
    min-height: calc(100vh - 237px);
    padding-bottom: 1em;
    font-size: 14px;
}

.longread h1 {
    margin: 1em 0 0.6em;
    line-height: 1.2;
}

.longread p {
    margin: 0 0 0.8em;
    line-height: 1.6;
}

/* Кроссбраузерный рендж без скриптов */
.size-setting {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    height: 10px;
    margin-top: 8px;
    padding: 2px 0;
    border-radius: 5px;
    outline-offset: 0;
}

.size-setting::-webkit-slider-thumb {
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.size-setting::-moz-range-thumb {
    box-sizing: border-box;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.size-setting::-ms-thumb {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* Форма регистрации */
.reg-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 8px 12px;
}

.reg-label {
    z-index: 1;
    margin-right: auto;
    margin-bottom: -6px;
    margin-left: -6px;
    padding: 2px 6px;
    font-size: 10px;
    line-height: 14px;
}

.name,
.password {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: transparent;
    font: inherit;
    font-size: 14px;
    line-height: 30px;
    outline-offset: 0;
    border: 1px solid;
}

.password {
    padding-bottom: 4px;
}

.name::placeholder,
.password::placeholder {
    color: #aaaaaa;
    font: inherit;
    font-size: 14px;
    font-style: italic;
}

.name:focus::placeholder,
.password:focus::placeholder {
    font-size: 0;
}

.name:hover::placeholder,
.name:active::placeholder,
.password:hover::placeholder,
.password:active::placeholder {
    opacity: 0.5;
}

.checkbox-label {
    position: relative;
    margin: 4px auto 16px 0;
    padding: 4px 24px;
}

.checkbox-label::before {
    position: absolute;
    content: "";
    flex-shrink: 0;
    top: 3px;
    left: 0;
    width: 14px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    border: 1px solid;
}

.show-password:focus + .checkbox-label::before {
    outline: auto;
    outline-width: 4px;
}

.checkbox-label:active::before {
    opacity: 0.6;
}

.reg-form .button {
    margin-right: auto;
    margin-bottom: 16px;
}

.security {
    position: relative;
    margin: -14px 1px 8px;
    width: calc(100% - 2px);
    overflow: hidden;
    background-color: #eae9f2;
}

.security::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 0;
    left: 50%;
    background-color: #ffffff;
}

.security::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: 0;
    left: 90%;
    background-color: #ffffff;
}

.security-bar {
    height: 4px;
    width: 0;
    background-color: mediumpurple;
}
