html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
button,
input {
  font-family: inherit;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 120%;

  margin: 0;
  padding: 0;

  color: #000;
  background-color: #fff;
}
.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  margin-bottom: 50px;
  padding: 20px;

  text-align: center;

  background-color: #d4c2c2;
}

.top-title {
  margin: 0;
  margin-bottom: 15px;
}
.top-subtitle {
  font-style: italic;

  margin: 0;
}

.card-list {
  display: grid;

  margin: 0;
  padding: 0;

  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
