.header {
  color: #ffffff;
  &__grid {
    display: grid;
    grid-template-columns: 265px  1fr 26px;
    gap: 32px;
    align-items: center;
  }
  &__item {
  }
  &__item--logo {
    a {
      display: flex;
    }
    img {
      display: block;
    }

  }
  &__item--desc-menu {
    margin-left: auto;
  }
  &__item--login {
    a {
      display: flex;
    }
  }
  &__item--burger {
    display: none;
  }
  &__mob-menu {
    display: none;
  }
  @media (max-width: 1440px) {
    &__grid {
      grid-template-columns: 255px 32px 32px;
    }
    &__item--logo {
      max-width: 255px;
    }
  }
  @media (max-width: 450px) {
    &__grid {
      grid-template-columns: 1fr 32px 32px;
      gap: 25px;
    }
    &__item--logo {
      max-width: 160px;
    }
  }
}
