html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a,
button,
input {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  background-color: #ffffff;
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
}
.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

.header {
  background-color: #d4c2c2;
  padding: 20px;
  margin-bottom: 50px;
  text-align: center;
}

.top-title {
  margin: 0;
  margin-bottom: 15px;
}
.top-subtitle {
  margin: 0;
  font-style: italic;
}

.card-list {
  margin: 0;
  padding: 0;
  display: grid;
  align-items: center;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* стили карточки  */
.preview-card {
  position: relative;
  max-width: 340px;
  font-size: 12px;
  line-height: 120%;
  box-shadow: 2.86px 6.67px 16.29px rgb(0 0 0 / 78%);
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}

/* ссылка на отдельную страничку */
.preview-card__link {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

/* фоновая картинка карточки */
.preview-card__bg {
  display: block;
  max-width: 100%;
  transition: opacity 0.5s;
}

/* появляющаяся шапка карточки */
.preview-card__hover-image {
  position: absolute;
  width: 100%;
  height: 46.5%;
  margin: 0;
  top: 100%;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: top 0.6s, opacity 0.5s;
  background: #000000;
  background-image: url("img/hover-image.jpg");
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preview-card:hover .preview-card__hover-image {
  top: 0;
  opacity: 1;
}

.preview-card__video {
  width: 100%;
}

.preview-card__details {
  padding: 6% 9%;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: linear-gradient(315deg, #213c55 5%, #016968 95%);
  font-weight: normal;
  color: #ffffff;
  height: 53.5%;
  opacity: 0.5;
  transition: top 0.6s, opacity 0.5s;
}

.preview-card:hover .preview-card__details {
  top: 46.5%;
  opacity: 1;
}
/* заголовок карточки */
.preview-card__title {
  font-weight: 700;
  font-size: 2em;
  line-height: 130%;
  padding: 0;
  margin: 0;
}
/* перечень характеристик */
.preview-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.preview-card__list-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.7em;
  position: relative;
  z-index: 2;
}

.preview-card__label {
  color: #959595;
  text-transform: uppercase;
}

.preview-card__data-link {
  text-decoration: none;
  color: #ffffff;
}

.preview-card__positive {
  color: #66c0f4;
}

/* кнопка карточки */
.preview-card__button {
  margin: 0;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  display: inline-block;
  background: #799905;
  background: linear-gradient(to bottom, #799905 5%, #536904 95%);
  color: #d2e885;
  font-size: 15px;
  line-height: 100%;
  position: absolute;
  z-index: 2;
  left: auto;
  bottom: 7%;
  transition: top 0.5s;
}

/* подвал карточки */
.preview-card__price {
  position: absolute;
  right: 0;
  bottom: 5%;
  transition: bottom 0.6s;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.preview-card__sale {
  font-weight: bold;
  color: #000000;
  background: #a1cd44;
  padding: 0 3px;
  display: inline-block;
}

.preview-card__cost {
  background: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0 5px;
  display: inline-block;
  vertical-align: bottom;
  text-align: right;
}

.preview-card__price-price {
  font-size: 14px;
  color: #ffffff;
}

.preview-card__cost del {
  color: #848e94;
}

.preview-card:hover .preview-card__price {
  bottom: 6%;
}
