/* стили карточки  */
.preview-card {
  font-size: 12px;
  line-height: 120%;

  position: relative;

  overflow: hidden;

  max-width: 340px;

  color: #fff;
  background-color: #000;
  box-shadow: 2.86px 6.67px 16.29px rgb(0 0 0 / 78%);
}

/* ссылка на отдельную страничку */
.preview-card__link {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: block;
}

/* фоновая картинка карточки */
.preview-card__bg {
  display: block;

  max-width: 100%;

  transition: opacity 0.5s;
}

/* появляющаяся шапка карточки */
.preview-card__hover-image {
  position: absolute;
  top: 100%;
  right: 0;

  width: 100%;
  width: 100%;
  height: 46.5%;
  height: 100%;
  margin: 0;

  transition: top 0.6s, opacity 0.5s;
  pointer-events: none;

  opacity: 0;
  background: #000;
  background-image: url("img/hover-image.jpg");

  object-fit: cover;
}

.preview-card:hover .preview-card__hover-image {
  top: 0;

  opacity: 1;
}

.preview-card__video {
  width: 100%;
}

.preview-card__details {
  font-weight: normal;

  position: absolute;
  top: 100%;
  right: 0;
  left: 0;

  height: 53.5%;
  padding: 6% 9%;

  transition: top 0.6s, opacity 0.5s;

  opacity: 0.5;
  color: #fff;
  background: linear-gradient(315deg, #213c55 5%, #016968 95%);
}

.preview-card:hover .preview-card__details {
  top: 46.5%;

  opacity: 1;
}
/* заголовок карточки */
.preview-card__title {
  font-size: 2em;
  font-weight: 700;
  line-height: 130%;

  margin: 0;
  padding: 0;
}
/* перечень характеристик */
.preview-card__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.preview-card__list-item {
  line-height: 1.7em;

  position: relative;
  z-index: 2;

  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.preview-card__label {
  text-transform: uppercase;

  color: #959595;
}

.preview-card__data-link {
  text-decoration: none;

  color: #fff;
}

.preview-card__positive {
  color: #66c0f4;
}

/* кнопка карточки */
.preview-card__button {
  font-size: 15px;
  line-height: 100%;

  position: absolute;
  z-index: 2;
  bottom: 7%;
  left: auto;

  display: inline-block;

  margin: 0;
  padding: 10px 20px;

  transition: top 0.5s;

  color: #d2e885;
  border: none;
  border-radius: 2px;
  background: #799905;
  background: linear-gradient(to bottom, #799905 5%, #536904 95%);
}

/* подвал карточки */
.preview-card__price {
  font-size: 14px;

  position: absolute;
  right: 0;
  bottom: 5%;

  display: flex;

  transition: bottom 0.6s;

  color: #fff;

  align-items: center;
  flex-wrap: wrap;
}

.preview-card__sale {
  font-weight: bold;

  display: inline-block;

  padding: 0 3px;

  color: #000;
  background: #a1cd44;
}

.preview-card__cost {
  display: inline-block;

  padding: 0 5px;

  text-align: right;
  vertical-align: bottom;

  background: #000;
  background-color: rgba(0, 0, 0, 0.6);
}

.preview-card__cost del {
  color: #848e94;
}

.preview-card:hover .preview-card__price {
  bottom: 6%;
}
