<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  <link rel="stylesheet" href="normalize.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <header class="header">
    <div class="wrapper">
    <div class="header__grid">
      <div class="header__item header__item--logo">
        <a href="#">
          <img src="img/logo/1.png">
        </a>
      </div>
      <div class="header__item header__item--desc-menu">
        <nav class="desctop-menu">
          <ul class="desctop-menu__list">

            <li class="desctop-menu__item">
              <a class="desctop-menu__link desctop-menu__link--mod">
                <span>Муниципалитеты</span>
              </a>
              <!-- Подменю  -->
              <ul class="desctop-menu__sub-list">
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                      <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                    </svg>
                    <span>Барыш</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                      <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                    </svg>
                    <span>Базарносызганский</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                      <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                    </svg>
                    <span>Майнский</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                      <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                    </svg>
                    <span>Сенгилей</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                      <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                    </svg>
                    <span>Старомайнский</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                      <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                    </svg>
                    <span>Цильнинский</span>
                  </a>
                </li>
              </ul>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link">
                <span>Отрасли</span>
              </a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link">
                <span>Инициативы</span>
              </a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link">
                <span>Подать инициативу</span>
              </a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link">
                <span>Новости</span>
              </a>
            </li>
            <li class="desctop-menu__item">
              <a class="desctop-menu__link">
                <span>Контакты</span>
              </a>
            </li>

            </li>
          </ul>
        </nav>
      </div>
      <div class="header__item header__item--login">
        <a href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none"><rect width="23" height="23" x="1" y="1" stroke="#fff" stroke-width="2" rx="11.5"/><path stroke="#fff" stroke-miterlimit="10" stroke-width="2" d="M12.5 12.5c1.745 0 3.125-1.191 3.125-2.917V8.125c0-1.726-1.38-2.917-3.125-2.917S9.375 6.4 9.375 8.125v1.458c0 1.726 1.38 2.917 3.125 2.917ZM18.75 18.75v-2.604c0-2.334-4.148-3.646-6.25-3.646-2.102 0-6.25 1.312-6.25 3.646v2.604"/></svg>
        </a>
      </div>
      <div class="header__item header__item--burger">
        <button class="nav-button" type="button">
          <span class="icon"></span>
        </button>
      </div>
    </div>

    <div class="header__mob-menu">
      <div class="mob-menu">
        <ul class="desctop-menu__list">

          <li class="desctop-menu__item">
            <a class="desctop-menu__link">
              <span>Муниципалитеты</span>
              <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.999998L13 12.6364L1 25" stroke="white" stroke-width="2" />
              </svg>
            </a>
            <!-- Подменю  -->
            <ul class="desctop-menu__sub-list">
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                    <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                  </svg>
                  <span>Барыш</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                    <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                  </svg>
                  <span>Базарносызганский</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                    <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                  </svg>
                  <span>Майнский</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                    <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                  </svg>
                  <span>Сенгилей</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                    <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                  </svg>
                  <span>Старомайнский</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="7" height="10" fill="none">
                    <path stroke="#fff" stroke-width="2" d="m1 1 4 3.879L1 9" />
                  </svg>
                  <span>Цильнинский</span>
                </a>
              </li>
            </ul>
          <li class="desctop-menu__item">
            <a class="desctop-menu__link">
              <span>Муниципалитеты</span>
              <svg width="15" height="26" viewBox="0 0 15 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 0.999998L13 12.6364L1 25" stroke="white" stroke-width="2" />
              </svg>
            </a>
          </li>

          </li>
        </ul>
      </div>
    </div>
  </div>
  </header>
</body>

</html>
